- i = 0
- while i < products.length do
  .row
    .col-md-5.product.some-left-air{:product_id => products[i].id}
      %label.name
        = products[i].name
      %label.price.pull-right
        = "$#{products[i].price}"
      .row
        .col-md-10.description
          = products[i].description
        .col-md-2.pull-right
          %button.btn.btn-primary.btn-sm.add-to-cart
            - if @business.company_type == "restaurant"
              %span.glyphicon.glyphicon-cutlery
            - else
              %span.glyphicon.glyphicon-plus
    - if i+1 < products.length
      .col-md-5.pull-right.product{:product_id => products[i+1].id}
        %label.name
          = products[i+1].name
        %label.price.pull-right
          = "$#{products[i+1].price}"
        .row
          .col-md-10.description
            = products[i+1].description
          .col-md-2.pull-right
            %button.btn.btn-primary.btn-sm.add-to-cart
              - if @business.company_type == "restaurant"
                %span.glyphicon.glyphicon-cutlery
              - else
                %span.glyphicon.glyphicon-plus
  - i+=2
