!!!
%html
  %head
    %title
      = @business.name
    = stylesheet_link_tag "bootstrap", :media => "all"
    = stylesheet_link_tag "app", :media => "all"
    = javascript_include_tag "jquery-1.11.0.min"
    = javascript_include_tag "bootstrap.min"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #wrap
      .navbar.navbar-fixed-top{role: "navigation"}
        .container
          .navbar-header
            %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a{href: "/"}
              %img{src: @business.logo}
          .collapse.navbar-collapse
            %ul.nav.navbar-nav
              %li.active
                %a{href: "/"} Menú
              %li
                %a{href: "#/zona-de-entrega"} Zona de entrega
              %li
                %a{href: "#/contacto"} Contacto
            %ul.nav.navbar-nav.pull-right
              %li
                %a{href: "#"} Registrarme
              %li
                %a{href: "#contact"} Ingresar
      = yield
      #push
    #footer
      .container
        %p.credits
          = "#{@business.name} - #{@business.address} - #{@business.phone}"